{% extends 'base.html.twig' %}

{% block title %}Gestion de mes Animaux • Voir le calendrier{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/app-calendar.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.3/dist/sweetalert2.min.css" integrity="sha256-h2Gkn+H33lnKlQTNntQyLXMWq7/9XI2rlPCsLsVcUBs=" crossorigin="anonymous">
{% endblock %}
{% block body %}
    <h2 class="home-title-top text-white">Voir le calendrier</h2>
    <div id="calendar-holder" data-locale="fr"></div>
    <a class="btn-form" href="{{ path('app_home') }}">Retour à l'accueil</a>

    {# Additional JavaScript for this page, if needed #}
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js" integrity="sha256-J37ZtjEw94oWBNZ9w/XC73raGXE9t10//XHJfKz2QCM=" crossorigin="anonymous"></script>
    <script src="{{ asset('locales/locale-full-calendar-fr.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.3/dist/sweetalert2.all.min.js" integrity="sha256-xkymBp70qMSHnInLEXDWb34pyON8sBGMA1S84vQILx4=" crossorigin="anonymous"></script>
    <script src="{{ asset('javascript/Library.js') }}"></script>
    <script src="{{ asset('javascript/CalendarManager.js') }}"></script>

    <script>

    //console.log('Script loaded.');
    const eventsToShow = {{ eventsToLoad | raw }};
    //console.log('events :', eventsToShow);
    let calendarManager = new CalendarManager(eventsToShow);
    calendarManager.run();
    /*

        {# Your calendar initialization or other JavaScript code goes here #}
            
            document.addEventListener('DOMContentLoaded', function() {
                console.log('DOM Content Loaded.');
                const calendarEl = document.getElementById('calendar-holder');
                const calendar = new FullCalendar.Calendar(calendarEl, {
                    editable: true,
                    eventClassNames: ['calendar-class'],

                    // Your FullCalendar options go here
                    // ...
                    buttonText: {
                        prev: 'Précédent',
                        next: 'Suivant',
                        today: 'Aujourd\'hui',
                        month: 'Mois',
                        week: 'Semaine',
                        day: 'Jour',
                        list: 'Liste',
                    },
                    locale: 'fr',
                    headerToolbar: {
                        start: 'prev,next today',
                        center: 'title',
                        end: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    views: {
                        dayGridMonth: { // name of view
                        titleFormat: { year: 'numeric', month: 'long' }
                        // other view-specific options here
                        }
                        
                    }
                });

                eventsToShow.forEach(function(event) {
                    const endDate = new Date(event.start);
                    //console.log('event :', event);
                    endDate.setDate(endDate.getDate());
                    calendar.addEvent({
                        title: `${event.name}`,
                        start: event.start,
                        end: endDate,

                        id: event.id,
                        comment: event.comment,
                        priority: event.priority,
                        status: event.status,
                        category: event.category,
                        animals: event.animals,
                        backgroundColor: getColorFromPriority(event.priority),
                        
                    });
                });
                calendar.setOption('eventClick', function(info) {
                    console.log('animals', info.event.extendedProps.animals);
                    // Afficher un popup avec les détails de l'événement

                    Swal.fire({
                        title: `${info.event.title}`,
                        html: `
                        <table id="table-alert-event">
                            <tr class="row-table-alert-event">
                                <td class="text-orange">Commentaire :</td>
                                <td>${info.event.extendedProps.comment}</td>
                            </tr>
                            <tr class="row-table-alert-event">
                                <td class="text-orange">Début :</td>
                                <td>${formatDateFct(info.event.start)}</td>
                            </tr>
                            <tr class="row-table-alert-event">
                                <td class="text-orange">Fin :</td>
                                <td>${formatDateFct(info.event.end)}</td>
                            </tr>
                            <tr class="row-table-alert-event">
                                <td class="text-orange">Priorité :</td>
                             <td><span class="icon-priority-alert-event bg-${getColorFromPriority(info.event.extendedProps.priority)}"></span>  ${info.event.extendedProps.priority}</td>
                            </tr>
                            <tr class="row-table-alert-event">
                                <td class="text-orange">Statut :</td>
                                <td>${info.event.extendedProps.status}</td>
                            </tr>
                            <tr class="row-table-alert-event">
                                <td class="text-orange">Catégorie :</td>
                                <td>${info.event.extendedProps.category}</td>
                            </tr>
                            <tr class="row-table-alert-event">
                                <td class="text-orange">Animaux :</td>
                                <td>${formatAnimalListFct(info.event.extendedProps.animals)}</td>
                            </tr>
                        </table>
                        `,
                        icon: 'info',
                        confirmButtonText: 'Retour',
                        customClass: {
                            container: 'custom-swal-container', // classe pour le conteneur principal de l'alerte
                            popup: 'custom-swal-popup', // classe pour la fenêtre popup
                            header: 'custom-swal-header', // classe pour l'en-tête
                            title: 'custom-swal-title', // classe pour le titre
                            closeButton: 'custom-swal-close-button', // classe pour le bouton de fermeture
                            content: 'custom-swal-content', // classe pour le contenu
                            confirmButton: 'custom-swal-confirm-button', // classe pour le bouton de confirmation
                        },
                    });

                    //alert(`Événement : ${info.event.title}\nCommentaire : ${info.event.extendedProps.comment}\nDébut : ${info.event.start}\nPriorité : ${info.event.extendedProps.priority}\nStatus : ${info.event.extendedProps.status}\nCatégorie : ${info.event.extendedProps.category}\nAnimaux : ${formatAnimalList(info.event.extendedProps.animals)}`);
                });

                calendar.render();
            });

            // Fonction pour formater la date
            function formatDateFct(date) {
                const options = {
                    weekday: 'long',
                    day: 'numeric',
                    month: 'long',
                    year: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric',
                    second: 'numeric',
                    timeZoneName: 'short'
                };

                return new Intl.DateTimeFormat('fr-FR', options).format(date);
            }

            // Fonction pour formater la liste d'animaux avec des balises <ul> et <li>
            function formatAnimalListFct(animals) {
                if (animals && animals.length > 0) {
                    const animalListItems = animals.map(animal => `<div>${animal}</div>`).join('');
                    return `<div>${animalListItems}</div>`;
                } else {
                    return 'Aucun animal spécifié';
                }
            }


            function getColorFromPriority(priority) {
                switch (priority) {
                    case 'Non Urgente' :
                        return 'green';
                        break;
                    case 'Normale' :
                        return 'blue';
                        break;
                    case 'Urgente' :
                        return 'orange';
                        break;
                    case 'Très Urgente' :
                        return 'red';
                        break;
                    default :
                        return 'white';
                        break;
                }
            }
            */
        </script>

    {% endblock %}

