{% extends 'base.html.twig' %}

{% block title %}Gestion de mes Animaux • Voir le calendrier{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/app-calendar.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.3/dist/sweetalert2.min.css" integrity="sha256-h2Gkn+H33lnKlQTNntQyLXMWq7/9XI2rlPCsLsVcUBs=" crossorigin="anonymous">
{% endblock %}
{% block body %}
<div class="wrapper">
    <h2 class="home-title-top text-white">Voir le calendrier</h2>
    <div id="calendar-holder" data-locale="fr"></div>
    <a class="btn-form" href="{{ path('app_home') }}">Retour à l'accueil</a>
</div>
    {# Additional JavaScript for this page, if needed #}
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js" integrity="sha256-J37ZtjEw94oWBNZ9w/XC73raGXE9t10//XHJfKz2QCM=" crossorigin="anonymous"></script>
    <script src="{{ asset('locales/locale-full-calendar-fr.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.3/dist/sweetalert2.all.min.js" integrity="sha256-xkymBp70qMSHnInLEXDWb34pyON8sBGMA1S84vQILx4=" crossorigin="anonymous"></script>
    <script src="{{ asset('javascript/Library.js') }}"></script>
    <script src="{{ asset('javascript/CalendarManager.js') }}"></script>
    <script src="{{ asset('javascript/WeekPatternLibrary.js') }}"></script>
    <!-- Ajoutez cette ligne à votre fichier HTML -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script>
    const eventsToShow = {{ eventsToLoad | raw }};
    let calendarManager = new CalendarManager(eventsToShow);
    calendarManager.run();
    </script>

    {% endblock %}

