{% extends 'base.html.twig' %}

{% block title %}Gestion de mes Animaux • Voir un animal{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/app.css') }}">
{% endblock %}

{% block body %}
        <h2 class="home-title-top text-white">Voir un animal</h2>
        <p id="emoticon-animal-show">{{ animal.category.emoticon }}</p>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ animal.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ animal.name }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ animal.comment }}</td>
            </tr>
            <tr>
                <th>Naissance</th>
                <td>{{ animal.birth ? animal.birth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ animal.gender.name ? animal.gender.name : '' }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td id="td-category-list">{{ animal.category.emoticon ? animal.category.emoticon : '' }} {{ animal.category.name ? animal.category.name : '' }}</td>
            </tr>
            <tr>
                <th>Maître</th>
                <td>{{ animal.master.pseudo ? animal.master.pseudo : '' }}</td>
            </tr>
            <tr>
                <th>Evènement(s)</th>
                <td>
                <select class="select">
                
                {% for event in animal.events %}
                <option class="option">{{ event.name }}</option>
                {% else %}
                <option class="option">Pas d'évènement.</option>
                {% endfor %}
                </select>
                </td>
            </tr>
        </tbody>
    </table>


    <a class="btn-form" href="{{ path('app_animal_edit', {'id': animal.id}) }}">Editer</a>
    {{ include('animal/_delete_form.html.twig') }}
    <a class="btn-form" href="{{ path('app_animal_list') }}">Retour à la liste</a>
    <a class="btn-form" href="{{ path('app_home') }}">Retour à l'accueil</a>
    {% endblock %}
    {% block javascripts %}
    <script>
        /*
        document.addEventListener('DOMContentLoaded', () => {
            const td = document.getElementById('td-category-list');
            const char = getEmoticonFromAnimalCategory(td.innerText);
            const emoticon = document.getElementById('emoticon-animal-show');
            console.log('emoticon :', char);
            if(char !== '#') 
            {
                td.innerText = char + ' ' + td.innerText;
                emoticon.innerText = char;
            }
        });
*/
    

        function getEmoticonFromAnimalCategory(category) {

        switch (category) {
            case "Chat":
                return "🐈";
            case "Chien":
                return "🐕";
            case "Poisson":
                return "🐟";
            case "Oiseau":
                return "🐦";
            case "Serpent":
                return "🐍";
            case "Insecte":
                return "🐞";
            case "Tortue":
                return "🐢";
            default :
                return "#";
        }
    }

    </script>
    {% endblock %}


