{% extends 'base.html.twig' %}

{% block title %}Gestion de mes Animaux • Liste de mes évènements{% endblock %}

{% block body %}
<div class="home-wrapper">

   <h2 class="home-title-top text-white">Liste de mes évènements</h2>
   <table class="table">
      <thead>
          <tr>
              <th>ID</th>
              <th>Nom</th>
              <th>Commentaire</th>

              <th>Catégorie</th>
              <th>Statut</th>
              <th>Priorité</th>

              <th>Début</th>
              <th>Durée</th>
              <th>Utilisateur</th>
              <th>Nb</th>
              <th>Animaux</th>
              <th class="actions-col-event-list">Actions</th>
          </tr>
      </thead>
      <tbody>
          {% for event in events %}
              <tr>
                 <td>{{ event.id }}</td>
                 <td>{{ event.name }}</td>
                 <td>{{ event.comment }}</td>

                 <td>{{ event.category.name }}</td>
                 <td>{{ event.status.name }}</td>
                 <td>{{ event.priority.name }}</td>

                 <td>{{ event.start|date('d/m/Y') }}</td>
                 <td>{{ event.duration }}</td>
                 <td>{{ event.user.pseudo }}</td>
                 <td>{{ event.patternsNumber == 0 ? '<span class="infinity-char">∞</span>' : event.patternsNumber }}</td>
                 <td>
                 <select class="select">
                 {% for animal in event.animals %}
                    <option class="option" value={{ animal.id }}>{{ animal.category.emoticon }} {{ animal.name }}</option>
                    {% else %}
                 {% endfor %}
                 
                 </select>
                 </td>
                 <td  class="actions-col-event-list">
                    <a href="{{ path('app_event_show', {'id': event.id}) }}" class="link-event-list"><span class="action-event-list">👁</span></a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}" class="link-event-list"><span class="action-event-list">✎</span></a>
                 </td>
              </tr>
          {% else %}
              <tr>
                 <td colspan="10">Aucun évènement trouvé.</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  <a class="btn-form" href="{{ path('app_event_new') }}">Créer un évènement</a>
  <a class="btn-form" href="{{ path('app_home') }}">Retour à l'accueil</a>

</div>
{% endblock %}
