<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Gestion de mes Animaux{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('image/favicon.ico') }}">
        {% block stylesheets %}
            <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.10.3/dist/sweetalert2.min.css " rel="stylesheet">
        {% endblock %}
            {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.3/dist/sweetalert2.all.min.js" integrity="sha256-xkymBp70qMSHnInLEXDWb34pyON8sBGMA1S84vQILx4=" crossorigin="anonymous"></script>
            <script src="{{ asset('javascript/library/RequestLibrary.js') }}"></script>
            <script src="{{ asset('javascript/manager/MailManager.js') }}"></script>
            <script src="{{ asset('javascript/facade/AlertFacade.js') }}"></script>
            {% endblock %}
    </head>
    <body>
        <header class="header">
        <h1 class="header-title">🐱🐶 Gestion de mes Animaux 🐦🐟</h1>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p class="text-white">Vous êtes connecté comme : 
            <span class="text-orange">{{ app.user.userIdentifier }}</span> • pseudo : 
            <span class="text-orange">{{ app.user.pseudo }}</span> • 
            <span><a href="{{ path('app_account') }}"><span>Mon compte</span></a></span> • 
            <span><a href="{{ path('app_logout') }}"><span>Déconnexion</span></a></span>
            </p>
        {% else %}
            <p class="text-white">Vous n'êtes pas connecté • 
            <span><a href="{{ path('app_login') }}"><span class="text-orange">Connexion</span></a></span> • 
            <span><a href="{{ path('app_signin') }}"><span class="text-orange">S'inscrire</span></a></span>
            </p>
        {% endif %}
        <nav class="navbar">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <span><a href="{{ path('app_home') }}">Accueil</a></span>
                    <span class="text-orange"> • </span>
                    <span><a href="{{ path('app_animal_list') }}">Animaux</a></span>
                    <span class="text-orange"> • </span>
                    <span><a href="{{ path('app_event_list') }}">Evénements</a></span>
                    <span class="text-orange"> • </span>
                    <span><a href="{{ path('app_calendar_show') }}">Calendrier</a></span>
                    <span class="text-orange"> • </span>
                    <span><a href="{{ path('app_mail_manager') }}">Mails</a></span>
                {% else %}
                {% endif %}
        </nav>

    </header>
    <main class="main">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
    </main>
    <footer class="footer">
        <p class="text-white"><span class="text-orange">&copy;</span> Gestion de mes Animaux <span class="text-orange">•</span> 2024</p>
    </footer>
        {% block additional_javascripts %}{% endblock %}
    </body> 
</html>
