{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
{{ form_label(form.email) }}
{{ form_widget(form.email) }}

{{ form_label(form.password) }}
<div class="form-group-password">
{{ form_widget(form.password) }}
<a id="btn-see-password" class="btn-see-password">👁</a>
</div>
{{ form_label(form.firstname) }}
{{ form_widget(form.firstname) }}

{{ form_label(form.lastname) }}
{{ form_widget(form.lastname) }}

{{ form_label(form.pseudo) }}
{{ form_widget(form.pseudo) }}

{{ form_label(form.birth) }}
{{ form_widget(form.birth) }}

    <div class="centered">
        <button class="btn-form">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
