{# mail/mail.twig.html #}
{# Exemple de CSS interne dans un email HTML #}
<head>
    <style>
        .h3-title {
            color : rgb(5, 36, 119);
            font-weight: bold;
        }
        .td-property-name { 
            color : rgb(5, 36, 119);
            font-weight: bold; 
            text-align: end;
        }
        .td-property-name {
            text-align: start;
        }
        .td-event {
            color: green;
            font-weight: bold;
            padding-top:  10px;
        }
        .td-day {
            color: red;
            font-weight: bold; 
            padding-top:  10px;
        }
        .td-week {
            color: purple;
            font-weight: bold; 
            padding-top:  10px;
        }
    </style>
</head>

<body>
<h3 class="h3-title">Nombre d'événement(s) : {{ events|length }}</h3>

<table class="table">
    {% set eventCounter = 0 %}
    {% set oldEvent = null %}
    {% for event in events %}
        {% set isNewDay = (oldEvent is null or oldEvent.start|date("Y-m-d") != event.start|date("Y-m-d")) ? true : false %}
        {% set isNewWeek = (isNewDay and event.start|date('N') ==  1) %}
        {% set isNewMonth = (isNewDay and (oldEvent is null or oldEvent.start|date("m") != event.start|date("m"))) %}
        {% set oldEvent = event %}
        {% set eventCounter = eventCounter + 1 %}
        {% if isNewMonth %}
        <tr>
            <td class="td-week" colspan="2">
            Mois de {{ event.start|frenchDateMonth }}
            </td>
        </tr>
        {% endif %}
        {% if isNewWeek %}
        <tr>
            <td class="td-week" colspan="2">
            Semaine du {{ event.start|frenchDateDay }}
            </td>
        </tr>
        {% endif %}
        {% if isNewDay %}
        <tr>
            <td class="td-day" colspan="2">
            Jour {{ event.start|frenchDateDay }}
            </td>
        </tr>
        {% endif %}
        <tr>
            <td class="td-event" colspan="2">
            Evénement n°{{ eventCounter }} R({{ event.repeatNumber}}) W({{event.weekNumber - 1}})
            </td>
        </tr>
        <tr>
            <td><span class="td-property-name"><strong>Nom</strong></span></td>
            <td class="td-property-name">{{ event.name }}</td>
        </tr>
        <tr>
            <td><span class="td-property-name"><strong>Commentaire</strong></span></td>
            <td class="td-property-name">{{ event.comment }}</td>
        </tr>
        <tr>
            <td><span class="td-property-name"><strong>Début</strong></span></td>
                <td class="td-property-name">{{ event.start|frenchDate }}</td>
        </tr>
        <tr>
            <td><span class="td-property-name"><strong>Fin</strong></span></td>
            <td class="td-property-name">{{ event.end|frenchDate }}</td>
        </tr>
        <tr>
            <td><span class="td-property-name"><strong>Catégorie</strong></span></td>
            <td class="td-property-name">{{ event.category }}</td>
        </tr>
        <tr>
            <td><span class="td-property-name"><strong>Statut</strong></span></td>
            <td class="td-property-name">{{ event.status }}</td>
        </tr>
        <tr>
            <td><span class="td-property-name"><strong>Priorité</strong></span></td>
            <td class="td-property-name">{{ event.priority }}</td>
        </tr>
    {% endfor %}
</table>
</body>